<div class="footer" role="contentinfo">
    <div class="wrap-fluid">
        <p>&copy; {{ now|date('Y') }} <a href="{{ SITE_URL }}" rel="noopener noreferrer" target="_blank">{{ siteTitle }}</a> with <a href="http://www.fork-cms.com" rel="noopener noreferrer" target="_blank">Fork CMS</a></p>
        <div class="cf"></div>
    </div>
</div>
